# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).
#
# {{ansible_managed}}

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
{% if eth0_addr is defined -%}
iface eth0 inet static
  address {{eth0_addr}}
  netmask {{eth0_netmask|default(255.255.255.0)}}
  {% if eth0_gateway -%}
  gateway {{eth0_gateway}}
  {%- endif %}
{% else %}
iface eth0 inet dhcp
{% endif %}

# Unique private address in case DHCP is unavailable
auto eth0:1
{% if rtr_id is defined %}
iface eth0:1 inet static
  address 10.13.1.2{{rtr_id}}
  netmask 255.255.255.0
{% else %}
iface eth0:1 inet static
  address 10.13.1.20
  netmask 255.255.255.0
{% endif %}

# Interface to the Avalan wireless ethernet modem
auto eth1
iface eth1 inet static
  address {{eth1_addr}}
  netmask 255.255.255.0